__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.venv/
venv/
env/

.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.xml

.git/
.gitignore
.github/

.DS_Store
.idea/
.vscode/
*.swp

Dockerfile
docker-compose.yml
.dockerignore

docs/

*.db

.env
.env.*
