# Before running the app, create an `.env` file in the root directory.
# Then generate your own secret key in the terminal using:
#   python -c "import secrets; print(secrets.token_hex(32))"
# Copy the generated key below and save to the `.env` file like the following:
JWT_SECRET=your_jwt_secret_here
